
.book_lines_content{
	width: 800px;
	margin: 0 auto;
	margin-top: 10px;
}


.book_lines_title{
	text-align: center;
	font-size: 30px;
	height: 40px;
	width: 700px;
	margin: 0 auto;
}
.book_lines_text{
	font-size: 18px;
	line-height:21px;
}
.up_and_down{
	font-size: 18px;
}